$footer-color: rgb(36, 34, 34);
$album-card-width: 200px;
$main-color: rgb(20, 68, 117);
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

@mixin logo-img-size () {
    @media (min-width: 0px) {
        width:17%;
    }
    @media (min-width: 400px) {
        width: 15%;
    }
    @media (min-width: 768px) {
        width: 10%;
    }
}

@mixin logo-text-size() {
    @media (min-width: 0px) {
        font-size: 15px;
    }
    @media (min-width: 576px) {
        font-size: 20px;
    }
    @media (min-width: 768px) {
        font-size: 25px;
    }
    @media (min-width: 992px) {
        font-size: 30px;
    }
}

@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {
    font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
    @media screen and (max-width: $lower-range) {
        font-size: $min-font-size;
    }
    @media screen and (min-width: $upper-range) {
        font-size: $max-font-size;
    }
}

@mixin img-clickable-hover() {
    img:hover {
        opacity: 0.6;
    }
}

@mixin text-clickable() {
    cursor: pointer;
    &:#{hover} {
        color: green;
        text-decoration: underline;
    }
}

.main-color {
    background: $main-color;
}

.main-color-light {
    background: lighten($main-color, 25%);
}

.fa-star,
.fa-star-half-o,
.fa-star-o {
    color: gold;
}

.container {
    @media(max-width: 1200px) {
        width:97.5%;
    }
}

#review-input-id {
    display: none;
}

/* === HEADER === */

.jumbotron {
    @include zero-margin(5px, 0px);
    .container {
        min-height: 50px;
    }
    .img-logo {
        @include logo-img-size();
        display: inline-block;
    }
    .text-logo {
        display: inline-block;
        vertical-align: middle;
        h1 {
            @include logo-text-size();
        }
    }
}

/* === NAVBAR === */

nav {
    .nav-search-bar {
        flex-grow: 1;
        max-width: 540px;
        .input-group {
            flex-grow: 1;
        }
        @media(max-width: 390px) {
             ::-webkit-input-placeholder {
                font-size: 11px;
            }
             :-moz-placeholder {
                font-size: 11px;
            }
             ::-moz-placeholder {
                font-size: 11px;
            }
             :-ms-input-placeholder {
                font-size: 11px;
            }
        }
    }
}

/* === INDEX.HTML === */

.slick-dots {
    position: unset;
    padding-top: 10px;
    li {
        button:before {
            font-size: 20px;
        }
    }
}

.product-carousel {
    .card {
        margin-right: 25px;
        @include img-clickable-hover();
        .card-block {
            height: 130px;
        }
        .img-fluid {
            width: $album-card-width;
        }
        .card-footer {
            height: 50px;
        }
    }
    .card.slick-slide {
        width: $album-card-width;
    }
}

.card-album {
    font-weight: 300;
}

.review-carousel {
    .card {
        width: 325px;
        @media(max-width: 400px) {
            width:280px;
        }
        height: 420px;
        .figure {
            display: flex;
        }
        .card-subtitle {
            font-size: 16px;
        }
        .badge {
            background-color: $main-color;
            opacity: 0.7;
        }
    }
    .img-fluid {
        width: 200px;
    }
}

/* === MUSIC.HTML === */

.filters-right-border {
    border-right: 2px solid $main-color;
}

#filters-panel {
    @media(max-width: 576px) {
        .modal-sm {
            max-width: 65%;
        }
        .modal-body {
            max-height: 90vh;
            overflow-y: auto;
        }
    }
}

#search-results {
    .card {
        button small {
            @include fluid-type(9px, 13px, 320px, 1600px);
        }
        @include img-clickable-hover();
    }
}

/* === ALBUM.HTML === */

.table {
    tbody th {
        width: 40px;
    }
    .pointer {
        @include text-clickable();
    }
}

#albumDescription {
    .band-name,
    .genre {
        @include text-clickable();
    }
}

#add-review {
    @include text-clickable();
}

#add-review-modal {
    textarea {
        background-color: lightgray;
        height: 250px;
    }
}

#reviews-id {
    overflow-y: scroll;
    height: 400px;
    .card-text {
        font-size: 13px;
    }
}

.popover {
    background-color: black;
    color: white;
}

/* === FOOTER === */

.footer {
    background-color: $footer-color;
    color: grey;
    @include zero-margin(20px, 0px);
    a {
        color: gray;
    }
    a:hover {
        color: lightblue;
        text-decoration: none;
    }
    a.btn {
        color: whitesmoke;
    }
}